<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title></title>
	<script type="text/javascript" src="../../vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
	<!-- <p v-if="value == 1">v-if块的内容</p>
	<p v-else-if="value == 2">v-else-if块的内容</p>
	<p v-else>v-else块的内容</p> -->
</div>
<script type="text/javascript">
	new Vue({
		template: '<p v-if="value == 1">v-if块的内容</p>\
			<p v-else-if="value == 2">v-else-if块的内容</p>\
			<p v-else>v-else块的内容</p>',
		data: {
			value: 3
		}
	}).$mount('#app');
</script>
</body>
</html>